@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('type/League_Gothic-webfont.eot');
	src: local('☺'), url('type/League_Gothic-webfont.woff') format('woff'), url('type/League_Gothic-webfont.ttf') format('truetype'), url('type/League_Gothic-webfont.svg#webfontOTINA1xY') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OFLSortsMillGoudyRegular';
	src: url('type/OFLGoudyStM-webfont.eot');
	src: local('☺'), url('type/OFLGoudyStM-webfont.woff') format('woff'), url('type/OFLGoudyStM-webfont.ttf') format('truetype'), url('type/OFLGoudyStM-webfont.svg#webfontwzHaehaw') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OFLSortsMillGoudyItalic';
	src: url('type/OFLGoudyStM-Italic-webfont.eot');
	src: local('☺'), url('type/OFLGoudyStM-Italic-webfont.woff') format('woff'), url('type/OFLGoudyStM-Italic-webfont.ttf') format('truetype'), url('type/OFLGoudyStM-Italic-webfont.svg#webfontRrg0pQHE') format('svg');
	font-weight: normal;
	font-style: normal;
}









/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	
	
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}



/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
 
.grid_1, 
.grid_2, 
.grid_3, 
.grid_4, 
.grid_5, 
.grid_6, 
.grid_7, 
.grid_8, 
.grid_9, 
.grid_10, 
.grid_11, 
.grid_12,.grid_12{
	display:inline;
	float: left;
	position: relative;
	margin-left: 10.0px;
	margin-right: 10.0px;
}


/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1{
	width:60px;
}

.container_12 .grid_2{
	width:140px;
}

.container_12 .grid_3{
	width:220px;
}

.container_12 .grid_4{
	width:300px;
}

.container_12 .grid_5{
	width:380px;
}

.container_12 .grid_6{
	width:460px;
}

.container_12 .grid_7{
	width:540px;
}

.container_12 .grid_8{
	width:620px;
}

.container_12 .grid_9{
	width:700px;
}

.container_12 .grid_10{
	width:780px;
}

.container_12 .grid_11{
	width:860px;
}

.container_12 .grid_12{
	width:940px;
}





/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_12 .prefix_1 {
	padding-left:80px;
}

    .container_12 .prefix_2 {
	padding-left:160px;
}

    .container_12 .prefix_3 {
	padding-left:240px;
}

    .container_12 .prefix_4 {
	padding-left:320px;
}

    .container_12 .prefix_5 {
	padding-left:400px;
}

    .container_12 .prefix_6 {
	padding-left:480px;
}

    .container_12 .prefix_7 {
	padding-left:560px;
}

    .container_12 .prefix_8 {
	padding-left:640px;
}

    .container_12 .prefix_9 {
	padding-left:720px;
}

    .container_12 .prefix_10 {
	padding-left:800px;
}

    .container_12 .prefix_11 {
	padding-left:880px;
}

    .container_12 .prefix_12 {
	padding-left:960px;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_12 .suffix_1 {
	padding-right:80px;
}

    .container_12 .suffix_2 {
	padding-right:160px;
}

    .container_12 .suffix_3 {
	padding-right:240px;
}

    .container_12 .suffix_4 {
	padding-right:320px;
}

    .container_12 .suffix_5 {
	padding-right:400px;
}

    .container_12 .suffix_6 {
	padding-right:480px;
}

    .container_12 .suffix_7 {
	padding-right:560px;
}

    .container_12 .suffix_8 {
	padding-right:640px;
}

    .container_12 .suffix_9 {
	padding-right:720px;
}

    .container_12 .suffix_10 {
	padding-right:800px;
}

    .container_12 .suffix_11 {
	padding-right:880px;
}

    .container_12 .suffix_12 {
	padding-right:960px;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_12 .push_1 {
	left:80px;
}

    .container_12 .push_2 {
	left:160px;
}

    .container_12 .push_3 {
	left:240px;
}

    .container_12 .push_4 {
	left:320px;
}

    .container_12 .push_5 {
	left:400px;
}

    .container_12 .push_6 {
	left:480px;
}

    .container_12 .push_7 {
	left:560px;
}

    .container_12 .push_8 {
	left:640px;
}

    .container_12 .push_9 {
	left:720px;
}

    .container_12 .push_10 {
	left:800px;
}

    .container_12 .push_11 {
	left:880px;
}

    .container_12 .push_12 {
	left:960px;
}





/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_12 .pull_1 {
	right:80px;
}

    .container_12 .pull_2 {
	right:160px;
}

    .container_12 .pull_3 {
	right:240px;
}

    .container_12 .pull_4 {
	right:320px;
}

    .container_12 .pull_5 {
	right:400px;
}

    .container_12 .pull_6 {
	right:480px;
}

    .container_12 .pull_7 {
	right:560px;
}

    .container_12 .pull_8 {
	right:640px;
}

    .container_12 .pull_9 {
	right:720px;
}

    .container_12 .pull_10 {
	right:800px;
}

    .container_12 .pull_11 {
	right:880px;
}

    .container_12 .pull_12 {
	right:960px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}



/* Added CSS
----------------------------------------------------------------------------------------------------*/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px/1.5;
  color: #666666;
}

p {
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 20px 0;
}



h1.title {
font-family: 'OFLSortsMillGoudyRegular', serif;
font-size: 105px;
font-weight: normal;
margin: 20px 0 0 8px;
}

#description {
color: #989898;
font-family: 'OFLSortsMillGoudyRegular', serif;
font-size: 40px;
font-weight: normal;
}


/**  commenting out the league gothic font face 

h1.title {
  font-family: 'LeagueGothicRegular';
  font-size: 105px;
  font-weight: normal;
  margin: 20px 0 0 8px;
}

#description {
  color: #989898;
  font-family: 'LeagueGothicRegular';
  font-size: 41px;
  font-weight: normal;
  font-stretch: ;
}

**/

h2 {
  color: ;
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  font-family: 'OFLSortsMillGoudyRegular',serif;
}

#date-reg h2 {
  margin-bottom: 10px;
}

h3 {
  font-weight: normal;
}



.container_12 {
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#information {
  padding-top: 50px;
}

#information-inner {
  float: left;
  margin-bottom: 40px;
}

#information #event-descriptions p {
  padding-right: 20px;
}

#speakers {
  padding-top: 10px;
}

#speakers-inner {
  float: left;
  margin-bottom: 20px;
}

#speakers img {
  border: 1px solid #cccccc;
}

#speakers h2 {
  margin: 0 10px 10px;
  padding: 10px 0 0 0;
  border-top: 1px dashed #cccccc;
}

#speakers h3 {
  margin: 10px 0;
  font-family: 'OFLSortsMillGoudyRegular',serif;
}

#speakers p {
  margin: 0 0 15px;
  font-size: 13px;
  height: 395px;
}


#speakers #site-link {
}

#speakers #twitter-link {
  margin: 5px 0;
}

#speakers #site-link a, #speakers #twitter-link a {
  font-size: 13px;
  text-decoration: none;
  color: #3388AA;
}

#day {
  font-size: ;
  margin-bottom: 5px;
}

#time {
  font-size: ;
  margin-bottom: 10px;
}

#brk-reg-time {
  font-size: 12px;
  margin-bottom: 5px;
}

#registration a {
  background:none repeat scroll 0 0 #C1C476;
  border:2px solid #CCCCCC;
  color:#211510;
  display:block;
  font-size:20px;
  margin:20px 0 10px;
  padding:12px 20px 8px;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  width:220px;
  font-size: 24px;
}

#limited {
  font-size: 12px;
  margin-left: 0px;
}



/** Sponsor Section **/



#sponsors-inner {
  padding: 10px 0;
  margin: 0 10px;
  border-top: 1px dashed #cccccc;
}



#sponsors p {
  font-size: 12px;
  line-height: normal;
  margin: 6px 0;
  padding: 0;
}

#sponsors ul li {
  display: inline;
}

#sponsors ul li a img {
  text-decoration: none;
  border: none;
}

#sponsors ul li a img#scc {
  width: 120px;
  margin: 0 12px 10px;
}

#sponsors ul li a img#fcoe {
  width: 65px;
}

#sponsors ul li a img#ctap {
  width: 65px;
  margin: 0 0 0 15px;
}

#sponsors-inner .grid_8, #sponsors grid_4 {
  margin: 0;
}